<style>
  button {
    min-height: 50px;
    border-radius: 5%;
    color: white;
    background-color: darkcyan;
    font-size: 14px;
    width: 100px;
  }
  #second-button {
    margin-left: 30px;
  }
</style>

<svelte:options tag="app-item2" />
<button onclick="window.incrementCounter()">Increment</button>
<button id="second-button" onclick="window.decrementCounter()">
  Decrement
</button>
