<script>
  let count = window.count;
  window.addEventListener("message", function(event) {
    if (event.data == "count updated.") {
      count = window.count;
    }
  });
</script>

<svelte:options tag="app-item3" />
<h3>Count is {count}</h3>
