<script>
  window.count = 0;
  window.addEventListener("message", microFrontEventHandler);
  function microFrontEventHandler(event) {
    switch (event.data) {
      case "increase the counter":
        window.count += 1;
        window.postMessage("count updated.");
        return;
      case "decrease the counter":
        window.count -= 1;
        window.postMessage("count updated.");
        return;
    }
  }
  function incrementCounter() {
    window.postMessage("increase the counter");
  }
  function decrementCounter() {
    window.postMessage("decrease the counter");
  }
  window.incrementCounter = incrementCounter;
  window.decrementCounter = decrementCounter;
  console.log(window.incrementCounter, window.decrementCounter, window.count);
  import "../../library/index.js";
</script>

<h1>Main application</h1>
<app-item1 />
<app-item2 />
<app-item3 />
